/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #111;
  background-color: #e0e0e2;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.highlight {
  margin-bottom: 15px; }

/**
 * `main` element
 */
main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul,
ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #1b75eb;
  text-decoration: none; }
  a:visited {
    color: #0f52ab; }
  a:hover {
    color: #111;
    text-decoration: underline; }
  .social-media-list a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username {
      text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828285;
  border-left: 4px solid #e9e9ea;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e9e9ea;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }
/**
 * Clearfix
 */
.footer-col-wrapper:after, .wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #828285;
  padding-right: 5px;
  margin-top: 2px;
  vertical-align: text-top; }

.social-media-list li + li {
  padding-top: 5px; }

/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  border-collapse: collapse;
  border: 1px solid #e9e9ea; }
  table tr:nth-child(even) {
    background-color: #f9f9f9; }
  table th,
  table td {
    padding: 10px 15px; }
  table th {
    background-color: #f1f1f1;
    border: 1px solid #dfdfe0;
    border-bottom-color: #cacacc; }
  table td {
    border: 1px solid #e9e9ea; }

.home {
  background-color: #e0e0e2; }

body {
  background-color: #434345; }

.site-footer {
  background-color: #e0e0e2; }

.page-content {
  background-color: #e0e0e2; }

/**
 * Site header
 */
.site-header {
  font-family: "Hack";
  min-height: 55.95px;
  position: relative; }

@font-face {
  font-family: "Hack";
  src: url("https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/fonts/hack-regular.woff") format("woff"); }

.site-title {
  font-family: "Hack";
  font-size: 26px;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: #fdfdfd; }
  .site-title:visited {
    color: #fdfdfd; }
  .site-title .name {
    color: #61a0f1; }
  .site-title .dot {
    color: #828285; }
  .site-title .tld {
    color: #fdfdfd; }

.page-link {
  color: #e0e0e2 !important;
  line-height: 1.5; }
  .page-link:not(:last-child) {
    margin-right: 20px; }

.site-nav {
  float: right;
  line-height: 54px; }
  .site-nav .nav-trigger {
    display: none; }
  .site-nav .menu-icon {
    display: none; }
  @media screen and (max-width: 600px) {
    .site-nav:not(.big-banner-nav) {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #434345;
      border-radius: 5px;
      text-align: right; }
      .site-nav:not(.big-banner-nav) label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer; }
      .site-nav:not(.big-banner-nav) .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav:not(.big-banner-nav) .menu-icon > svg {
          fill: #e0e0e2; }
      .site-nav:not(.big-banner-nav) input ~ .trigger {
        clear: both;
        display: none; }
      .site-nav:not(.big-banner-nav) input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav:not(.big-banner-nav) .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav:not(.big-banner-nav) .page-link:not(:last-child) {
          margin-right: 0; } }
:root {
  --codeTiltAngle: -5;
  --bigBannerHeight: 100vh;
  --scrollDuration: 300s;
  --fudgeRight: 0vw; }

.slide-to-top {
  margin-top: calc(-100vh + 250px); }

.big-banner #header-wrapper {
  position: absolute;
  transition: margin-top 0.8s; }

@keyframes fadeIn {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

@keyframes fadeOut {
  0% {
    opacity: 100%; }
  100% {
    opacity: 0%; } }

.hidden {
  visibility: hidden;
  transition: visibility 0.5s;
  opacity: 0; }

.hidden-no-animate {
  display: none; }

.titlebar {
  background-color: #202020;
  width: 100%;
  height: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #444;
  font-size: 12px;
  align-items: center;
  display: flex;
  justify-content: center;
  user-select: none; }
  .titlebar .buttons {
    position: absolute;
    right: 12px;
    display: flex;
    flex-direction: row; }
    .titlebar .buttons div {
      font-size: 12pt;
      color: #fdfdfd;
      width: 16px;
      padding-top: 1px;
      margin-left: 6px;
      opacity: 60%;
      cursor: pointer; }
      .titlebar .buttons div:hover {
        opacity: 100%; }

.floating #command-output-wrapper {
  margin-top: 100px;
  height: calc(100vh - 350px);
  width: 90vw;
  max-width: 800px; }

.fullscreen #command-output-wrapper {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  margin-top: 0px; }
  .fullscreen #command-output-wrapper .command-output::before {
    content: "\a";
    white-space: pre; }

.fullscreen #header-wrapper {
  position: absolute;
  bottom: -26px;
  left: 0;
  z-index: 10;
  padding-left: 16px;
  padding-right: 16px; }

@keyframes delayedFadeIn {
  0% {
    opacity: 0%; }
  50% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }
  .fullscreen #header-wrapper .site-title {
    transform: translate(0px, -16px);
    font-size: 16px;
    line-height: 63px;
    opacity: 0;
    animation: delayedFadeIn 0.8s forwards; }

.fullscreen .site-nav {
  display: none; }

#command-output-wrapper {
  filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.3));
  visibility: visible;
  transition: opacity 0.5s, width 0.5s, height 0.5s, max-width 0.5s, margin-top 0.5s;
  pointer-events: none; }
  #command-output-wrapper:not(.hidden) {
    opacity: 100%;
    pointer-events: auto; }

.command-output {
  filter: none;
  font-family: "Hack";
  padding: 16px;
  text-align: left;
  height: calc(100% - 58px);
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  background-color: rgba(29, 40, 55, 0.8);
  color: #fdfdfd;
  border: 1px solid;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: #222;
  white-space: break-spaces; }
  .command-output a {
    color: #61a0f1; }
  .command-output a:hover {
    color: #fdfdfd; }

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #111 transparent; }

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

*::-webkit-scrollbar-track {
  background: transparent; }

*::-webkit-scrollbar-thumb {
  background-color: #111;
  border-radius: 20px;
  border: 3px solid transparent; }

#hidden-input {
  position: absolute;
  left: -99999px; }

.selected {
  background-color: #5577cca0;
  color: white; }

.fancy-caret {
  background-color: #999;
  color: #eee;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: blink; }

.invisible-caret {
  background-color: transparent; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.caret {
  background-color: #999;
  color: #eee; }

@keyframes blink {
  50% {
    background-color: transparent; } }

.appearing-link {
  max-width: 0px;
  position: absolute;
  right: 16px;
  bottom: 16px;
  overflow: hidden;
  height: auto;
  line-height: 1.5em;
  animation: appearing 3s forwards;
  animation-delay: 10s;
  animation-iteration-count: 1;
  white-space: nowrap;
  z-index: -10; }

@keyframes appearing {
  from {
    max-width: 0px;
    opacity: 0; }
  to {
    max-width: 13em;
    opacity: 1; } }

.shell-command::before {
  content: "$\00a0"; }

.shell-command::after {
  content: "\a"; }

.landing-page {
  overflow: hidden; }

.big-banner {
  height: var(--bigBannerHeight);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  opacity: 0%;
  animation: 1s ease-out 0s 1 fadeUp forwards; }

@keyframes fadeUp {
  0% {
    transform: translateY(5vh);
    opacity: 0%; }
  100% {
    transform: translateY(0);
    opacity: 100%; } }
  .big-banner .code-banner {
    max-width: 70vw;
    margin-left: calc(var(--fudgeRight) - 25vw);
    --zRot: calc(var(--codeTiltAngle) * 1deg);
    position: absolute;
    top: 0;
    background-color: transparent;
    border-width: 0px;
    color: #828285;
    filter: blur(2px);
    z-index: -1;
    user-select: none;
    pointer-events: none;
    touch-action: none;
    overflow-x: hidden;
    transform: translateY(var(--bigBannerHeight)) rotateZ(var(--zRot)); }
    @media screen and (max-width: 800px) {
      .big-banner .code-banner {
        max-width: 100vw;
        margin-left: var(--fudgeRight); } }
    @media screen and (max-width: 600px) {
      .big-banner .code-banner {
        max-width: 100vw;
        font-size: 11.2px;
        margin-left: calc(0.6 * var(--fudgeRight)); } }
  .big-banner .banner-scroller {
    animation: scrolling linear forwards;
    animation-duration: var(--scrollDuration);
    animation-delay: 2s; }

@keyframes scrolling {
  from {
    transform: rotateZ(var(--zRot)) translateY(calc(var(--bigBannerHeight) + 10vh)); }
  to {
    transform: rotateZ(var(--zRot)) translateY(-150%); } }
  .big-banner .site-title {
    z-index: 5;
    font-size: 48px;
    float: none;
    letter-spacing: -1px;
    white-space: nowrap;
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 600px) {
      .big-banner .site-title {
        font-size: 32px; } }
    .big-banner .site-title::before {
      content: "$\00a0";
      color: #828285; }
  .big-banner .site-nav {
    float: none;
    text-align: center; }

/**
 * Site footer
 */
.site-footer {
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

footer .wrapper {
  border-top: 1px solid #b6b6b7;
  padding-top: 20px; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828285;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }

@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }

.flash-green {
  animation: flash-green-animation 1s; }

.flash-red {
  animation: flash-red-animation 1s; }

@keyframes flash-green-animation {
  from {
    color: limegreen; }
  to {
    color: default; } }

@keyframes flash-red-animation {
  from {
    color: red; }
  to {
    color: default; } }

/**
 * Page content
 */
.page-content {
  padding: 30px 0;
  flex: 1; }

.page-heading {
  font-size: 32px; }

.post-list-heading {
  font-size: 28px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #5c5c5e; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }
.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }
.slide-transition {
  transition: margin 0.8s ease, opacity 0.4s ease;
  margin-top: -60px;
  opacity: 0%; }

.unslide {
  margin-top: 0px; }

#hint-text {
  color: #828285;
  position: absolute;
  top: -40px;
  right: 40px;
  font-size: 16pt;
  opacity: 0%;
  animation: fadeIn 1s 7s forwards; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
