{%- if page.name == "index.markdown" -%}
  {%- assign big_banner = true -%}
  {%- assign header_element = "span" -%}
{%- else -%}
  {%- assign header_element = "a" -%}
{%- endif -%}
<header class="site-header{%- if big_banner %} big-banner{%- endif -%}" role="banner">
{% if big_banner %}
      <pre class="code-banner" id="banner-snippet"></pre>
      <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
          const backgrounds = [
          {%- for snippet in site.data.snippets %}
            {
              rawUrl: "{{ snippet.rawUrl }}",
              niceUrl: "{{ snippet.niceUrl }}",
              description: "{{ snippet.description }}"
            },
            {%- endfor %}
          ];
          const { rawUrl, niceUrl, description } = backgrounds[Math.floor(Math.random() * backgrounds.length)];
          // const { rawUrl, niceUrl, description } = backgrounds[backgrounds.length - 1];
          window.fetch(rawUrl).then(value => value.text().then(content => {
            // Scale animation duration based on document length
            const lineCount = content.split(/\r\n|\r|\n/).length;
            document.documentElement.style.setProperty('--scrollDuration', lineCount + "s");

            // Fix horizontal positioning
            document.documentElement.style.setProperty('--fudgeRight', (lineCount / 18 + 20) + "vw");

            // Insert snippet into DOM
            const snippet = document.querySelector('#banner-snippet');
            snippet.innerText = content;

            // Start animation
            snippet.classList.add("banner-scroller");

            // Insert snippet link into the DOM
            const container = document.createElement('span');
            container.classList.add("appearing-link");
            const a = document.createElement('a');
            a.classList.add("page-link");
            a.target = "_blank";
            a.title = description;
            a.href = niceUrl;
            a.appendChild(document.createTextNode("Background Snippet ->"));
            container.appendChild(a);
            document.querySelector('#header-wrapper').appendChild(container);
          }))
        }, false);

        // Easter egg
        var a="Arrow";let k_index=0;const konami=[a+"Up",a+"Up",a+"Down",a+"Down",
        a+"Left",a+"Right",a+"Left",a+"Right","KeyB","KeyA"];document.addEventListener('keydown',
        function(e){if(e.code!=konami[k_index++]) k_index=0;else if(k_index>=konami.length)
        window.location=(atob("aHR0cHM6Ly93d3cueW91dHViZS5jb20vd2F0Y2g/dj1kUXc0dzlXZ1hjUQ=="));});
      </script>
    {% endif %}
  <div class="wrapper" id="header-wrapper">
    
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <{{ header_element }} class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <span class="typewriter">sarah<span class="dot">.</span><span class="tld">engineer</span></span>
    </{{ header_element }}>

    {%- if page_paths -%}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
            </svg>
          </span>
        </label>

        <div class="trigger">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </nav>
    {%- endif -%}
  </div>
</header>
