{%- if page.name == "index.markdown" -%}
  {%- assign big_banner = true -%}
  {%- assign header_element = "span" -%}
{%- else -%}
  {%- assign header_element = "a" -%}
{%- endif -%}
<header class="site-header{%- if big_banner %} big-banner{%- endif -%}" role="banner">
{% if big_banner %}
      <pre class="code-banner" id="banner-snippet"></pre>
      <script type="text/javascript" src="assets/shell.js"></script>
      <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
          const backgrounds = [
          {%- for snippet in site.data.snippets %}
            {
              rawUrl: "{{ snippet.rawUrl }}",
              niceUrl: "{{ snippet.niceUrl }}",
              description: "{{ snippet.description }}"
            },
            {%- endfor %}
          ];
          const { rawUrl, niceUrl, description } = backgrounds[Math.floor(Math.random() * backgrounds.length)];
          window.fetch(rawUrl).then(value => value.text().then(content => {
            // Scale animation duration based on document length
            const lineCount = content.split(/\r\n|\r|\n/).length;
            document.documentElement.style.setProperty('--scrollDuration', lineCount + "s");

            // Insert snippet into DOM
            const snippet = document.querySelector('#banner-snippet');
            snippet.innerText = content;

            // Fix horizontal positioning
            document.documentElement.style.setProperty('--fudgeRight', -snippet.offsetHeight * Math.tan(-5 * Math.PI / 180) + "px");

            // Start animation
            snippet.classList.add("banner-scroller");

            // Insert snippet link into the DOM
            const container = document.createElement('span');
            container.classList.add("appearing-link");
            const a = document.createElement('a');
            a.classList.add("page-link");
            a.target = "_blank";
            a.title = description;
            a.href = niceUrl;
            a.appendChild(document.createTextNode("Background Snippet ->"));
            container.appendChild(a);
            document.querySelector('.big-banner').appendChild(container);
          }))

          // Easter eggs
          let k_index=0;let lol={'red':1,'green':0};const sarah=document
          .querySelector('.site-title .name');const flash=(a)=>{sarah
          .classList.remove(`flash-red`);sarah.classList.remove(`flash-green`
          );if(k_index<konami.length+lol[a])window.requestAnimationFrame(
          ()=>{sarah.classList.add(`flash-${a}`)})};const red=()=>{flash(
          'red')};const green=()=>{flash('green')};var a="Arrow";var konami
          =[a+"Up",a+"Up",a+"Down",a+"Down",a+"Left",a+"Right",a+"Left",a+
          "Right","KeyB","KeyA"];document.addEventListener('keydown',function
          (e){if(k_index<konami.length&&e.code!=konami[k_index++]){if(k_index
          >1)red();k_index=0;}else{green();if(k_index>=konami.length)document
          .body.classList.add("crt");}});

          // Prompt interactivity
          const prompt=document.querySelector('.site-title .typewriter');
          const headerWrapper=document.querySelector('#header-wrapper');
          const output=document.querySelector('#command-output');
          function isLetter(str) {
            return str.length === 1 && str.match(/[|~=;:'"a-z .0-9\s-.,<>\\\/$\-_?\^*@!&#%\(\)\[\]{}]/i);
          }
          function createSpan(str) {
            const span = document.createElement('span');
            span.innerText = str;
            return span;
          }
          setTimeout(() => {
          document.addEventListener('keydown', async function(e){
            if(e.ctrlKey) return;
            let { key } = e;
            if(key==="Backspace" || isLetter(key) || key==="Enter") {
              headerWrapper.classList.add("slide-to-top");
              
            }
            if(key==="Enter") {
              output.classList.add("command-output")
              let total = "";
              prompt.childNodes.forEach((c) => total += c.innerText);
              const a = prompt.childNodes[0];
              a.innerText = ''
              prompt.innerText = ''
              prompt.appendChild(a);

              if (total === "clear") {
                output.innerText = ''
              }
              else if (total) {
                const result = await window.executeBash(total)
                const cmdSpan = createSpan('$ '+total+'\n')
                if(window.returnCode) {
                  cmdSpan.style = 'color: red';
                }
                output.prepend(cmdSpan)
                if(typeof result === "string") {
                  output.prepend(createSpan(result))
                }
                else {
                  const errorSpan = createSpan(result.error);
                  errorSpan.style = 'color: red';
                  output.prepend(errorSpan);
                }
              }
            }
            else if(key==="Backspace"){
              const cur = prompt.lastChild.innerText;
              prompt.lastChild.innerText = cur.substr(0, cur.length - 1)
              if(cur.length === 1 && prompt.children.length > 1) {
                prompt.removeChild(prompt.lastChild)
              }
            }
            else if(isLetter(key)) {
              const cur = prompt.lastChild.innerText;
              let total = "";
              prompt.childNodes.forEach((c) => total += c.innerText)
                if (key === " ") {
                  prompt.lastChild.innerHTML += '\u00A0'
                }
                else prompt.lastChild.innerText = cur + e.key
            }
          })}, 4000);
        }, false);

        
      </script>
    {% endif %}
  <div class="wrapper" id="header-wrapper">
    
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <{{ header_element }} class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <span class="typewriter"><span class="name">sarah</span><span class="dot">.</span><span class="tld">engineer</span></span>
    </{{ header_element }}>

    {%- if page_paths -%}
      <nav class="site-nav{%- if big_banner %} big-banner-nav{%- endif -%}">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
            </svg>
          </span>
        </label>

        <div class="trigger">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </nav>
    {%- endif -%}
  </div>
  <pre class="hidden" id="command-output"></pre>
</header>
