/**
 * Site header
 */
.site-header {
  font-family: "Hack";
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

@font-face {
  font-family: "Hack";
  src: url("https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/fonts/hack-regular.woff")
    format("woff");
}
.site-title {
  font-family: "Hack";
  @include relative-font-size(1.625);
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: $site-title-color;
  &:visited {
    color: $site-title-color;
  }

  .name {
    color: $name-color;
  }
  .dot {
    color: $dot-color;
  }
  .tld {
    color: $tld-color;
  }
}

.page-link {
  color: $background-color !important;
  line-height: $base-line-height;

  // Gaps between nav items, but not on the last one
  &:not(:last-child) {
    margin-right: 20px;
  }
}
.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  &:not(.big-banner-nav) {
    @include media-query($on-palm) {
      position: absolute;
      top: 9px;
      right: $spacing-unit / 2;
      background-color: $grey-color-dark;
      border-radius: 5px;
      text-align: right;

      label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
      }

      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;

        > svg {
          fill: $background-color;
        }
      }

      input ~ .trigger {
        clear: both;
        display: none;
      }

      input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
      }

      .page-link {
        display: block;
        padding: 5px 10px;

        &:not(:last-child) {
          margin-right: 0;
        }
        margin-left: 20px;
      }
    }
  }
}
:root {
  --codeTiltAngle: -5;
  --bigBannerHeight: 100vh;
  --scrollDuration: 300s;
  --fudgeRight: 0vw;
}

.slide-to-top {
  margin-top: calc(-100vh + 250px);
}

.big-banner {
  #header-wrapper {
    position: absolute;
    transition: margin-top 0.8s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.hidden {
  visibility: hidden;
  transition: visibility 0.5s;
  opacity: 0;
}

.hidden-no-animate {
  display: none;
}

.titlebar {
  background-color: #202020;
  width: 100%;
  height: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #444;
  font-size: 12px;
  align-items: center;
  display: flex;
  justify-content: center;
  user-select: none;

  .buttons {
    position: absolute;
    right: 12px;
    display: flex;
    flex-direction: row;
    div {
      font-size: 12pt;
      color: $tld-color;
      width: 16px;
      padding-top: 1px;
      margin-left: 6px;
      opacity: 60%;
      cursor: pointer;
      &:hover {
        opacity: 100%;
      }
    }
  }
}

.floating {
  #command-output-wrapper {
    margin-top: 100px;
    height: calc(100vh - 350px);
    width: 90vw;
    max-width: 800px;
  }
}

.fullscreen {
  #command-output-wrapper {
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    margin-top: 0px;

    .command-output::before {
      content: "\a";
      white-space: pre;
    }
  }

  #header-wrapper {
    // the alignment here is a disaster
    position: absolute;
    bottom: -26px;
    left: 0;
    z-index: 10;
    padding-left: 16px;
    padding-right: 16px;

    @keyframes delayedFadeIn {
      0% {
        opacity: 0%;
      }
      50% {
        opacity: 0%;
      }
      100% {
        opacity: 100%;
      }
    }
    .site-title {
      font-size: $base-font-size;
      line-height: 63px;
      opacity: 0;
      animation: delayedFadeIn 0.8s forwards;
    }
  }
  .site-nav {
    display: none;
  }
}

#command-output-wrapper {
  filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.3));
  //animation: fadeIn 1s ease-out forwards;
  visibility: visible;
  transition: opacity 0.5s, width 0.5s, height 0.5s, max-width 0.5s,
    margin-top 0.5s;
  pointer-events: none;
  &:not(.hidden) {
    opacity: 100%;
    pointer-events: auto;
  }
}

.command-output {
  filter: none;
  font-family: "Hack";
  padding: 16px;
  text-align: left;
  // width: 90vw;
  // max-width: 800px;
  // height: calc(100vh - 350px);
  height: calc(100% - 58px);
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  background-color: rgba(29, 40, 55, 0.8);
  color: $white-color;
  border: 1px solid;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: #222;
  white-space: break-spaces;

  a {
    color: $name-color;
  }
  a:hover {
    color: $white-color;
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $text-color transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $text-color;
  border-radius: 20px;
  border: 3px solid transparent;
}

#hidden-input {
    position: absolute;
    left: -99999px;
}

.selected {
  background-color: #5577cca0;
  color: white;

}

.fancy-caret {
  background-color: #999;
  color: #eee;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: blink;
}

.invisible-caret {
    background-color: transparent;
}
  .noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.caret {
      background-color: #999;
  color: #eee;
}
@keyframes blink {
  50% {
    background-color: transparent;
  }
}

.appearing-link {
  max-width: 0px;
  position: absolute;
  right: 16px;
  bottom: 16px;
  overflow: hidden;
  height: auto;
  line-height: 1.5em;
  animation: appearing 3s forwards;
  animation-delay: 10s;
  animation-iteration-count: 1;
  white-space: nowrap;
  z-index: -10;
}

@keyframes appearing {
  from {
    max-width: 0px;
    opacity: 0;
  }
  to {
    max-width: 13em;
    opacity: 1;
  }
}

.shell-command::before {
  content: "$\00a0";
}

.shell-command::after {
  content: "\a";
}
.landing-page {
  overflow: hidden;
}

.big-banner {
  height: var(--bigBannerHeight);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  opacity: 0%;

  animation: 1s ease-out 0s 1 fadeUp forwards;

  @keyframes fadeUp {
    0% {
      transform: translateY(5vh);
      opacity: 0%;
    }
    100% {
      transform: translateY(0);
      opacity: 100%;
    }
  }

  .code-banner {
    max-width: 70vw;
    margin-left: calc(var(--fudgeRight) - 25vw);

    @include media-query($on-laptop) {
      max-width: 100vw;
      margin-left: var(--fudgeRight);
    }

    @include media-query($on-palm) {
      max-width: 100vw;
      @include relative-font-size(0.7);
      margin-left: calc(0.6 * var(--fudgeRight));
    }

    --zRot: calc(var(--codeTiltAngle) * 1deg);
    position: absolute;
    top: 0;
    background-color: transparent;
    border-width: 0px;
    color: $code-banner-color;
    filter: blur(2px);
    z-index: -1;
    user-select: none;
    pointer-events: none;
    touch-action: none;
    overflow-x: hidden;
    transform: translateY(var(--bigBannerHeight)) rotateZ(var(--zRot));
  }

  .banner-scroller {
    animation: scrolling linear forwards;
    animation-duration: var(--scrollDuration);
    animation-delay: 2s;
  }

  @keyframes scrolling {
    from {
      transform: rotateZ(var(--zRot))
        translateY(calc(var(--bigBannerHeight) + 10vh));
    }
    to {
      transform: rotateZ(var(--zRot)) translateY(-150%);
    }
  }

  .site-title {
    z-index: 5;
    @include relative-font-size(3);
    @include media-query($on-palm) {
      @include relative-font-size(2);
    }
    float: none;
    letter-spacing: -1px;
    white-space: nowrap;
    display: flex;
    justify-content: center;

    &::before {
      content: "$\00a0";
      color: $dot-color;
    }
  }

  .site-nav {
    float: none;
    text-align: center;
  }
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

footer .wrapper {
  border-top: 1px solid lighten($grey-color, 20%);
  padding-top: 20px;
}
.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

.flash-green {
  animation: flash-green-animation 1s;
}
.flash-red {
  animation: flash-red-animation 1s;
}

@keyframes flash-green-animation {
  from {
    color: limegreen;
  }
  to {
    color: default;
  }
}

@keyframes flash-red-animation {
  from {
    color: red;
  }
  to {
    color: default;
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color-medium;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.slide-transition {
  transition: margin 0.8s ease, opacity 0.4s ease;
  margin-top: -60px;
  opacity: 0%;
}

.unslide {
  margin-top: 0px;
}

#hint-text {
  color: $dot-color;
  position: absolute;
  top: -40px;
  right: 40px;
  font-size: 16pt;
  opacity: 0%;
  animation: fadeIn 1s 7s forwards;
}
