<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}"{{end}}>

    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
      <title>{{ .Site.Title }}</title>
        {{ $sass := resources.Get "sass/main.scss" }}
        {{ $styles := $sass | resources.ToCSS | resources.Fingerprint }}
        {{ $externals := slice "fs" "path" }}
        {{ $defines := dict "process.env.NODE_ENV" "\"development\"" }}
        {{ $opts := dict "targetPath" "main.js" "externals" $externals "defines" $defines "format" "esm" }}
        {{ $built := resources.Get "js/main.js" | js.Build $opts | resources.Fingerprint }}
        {{ $bashParser := resources.GetRemote "https://raw.githubusercontent.com/cgsdev0/bash-parser/master/compiled.js" | resources.Minify | resources.Fingerprint }}
            <script src="{{ $bashParser.RelPermalink }}" type="text/javascript"></script>
        <script src="{{ $built.RelPermalink }}" type="text/javascript" integrity="{{ $built.Data.Integrity }}"></script>
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
    </head>

  <body class="landing-page floating" style="background-color: #434345">

<header class="site-header big-banner" role="banner">
      <pre class="code-banner" id="banner-snippet"></pre>
      <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', async function() {

          const backgrounds = [
          {{ range $.Site.Data.snippets }}
            {
              rawUrl: "{{ .rawUrl }}",
              niceUrl: "{{ .niceUrl }}",
              description: "{{ .description }}"
            },
              {{ end }}
          ];
          const { rawUrl, niceUrl, description } = backgrounds[Math.floor(Math.random() * backgrounds.length)];
          window.fetch(rawUrl).then(value => value.text().then(content => {
            // Scale animation duration based on document length
            const lineCount = content.split(/\r\n|\r|\n/).length;
            document.documentElement.style.setProperty('--scrollDuration', lineCount + "s");

            // Insert snippet into DOM
            const snippet = document.querySelector('#banner-snippet');
            snippet.innerText = content;

            // Fix horizontal positioning
            document.documentElement.style.setProperty('--fudgeRight', -snippet.offsetHeight * Math.tan(-5 * Math.PI / 180) + "px");

            // Start animation
            snippet.classList.add("banner-scroller");

            // Insert snippet link into the DOM
            const container = document.createElement('span');
            container.classList.add("appearing-link");
            const a = document.createElement('a');
            a.classList.add("page-link");
            a.target = "_blank";
            a.title = description;
            a.href = niceUrl;
            a.appendChild(document.createTextNode("Background Snippet ->"));
            container.appendChild(a);
            document.querySelector('.big-banner').appendChild(container);
          }))
          window.addEventListener('pageshow', (e) => {
              // Reset transition state on back button
              if(e.persisted) {
                document.querySelector("body").classList.remove("fade-transition");
                document.querySelector("body").classList.remove("slide-transition");
                const snippet = document.querySelector('#banner-snippet');
                snippet.classList.remove("banner-scroller");
                setTimeout(() => snippet.classList.add("banner-scroller"), 1);
              }
          });
          window.animationSequence = (url) => {
            setTimeout(() => {
              window.location.href = url;
            }, 600);
            document.querySelector("body").classList.add("fade-transition");
            document.querySelector("body").classList.add("slide-transition");
          }
        }, false);


      </script>
  <div class="wrapper" id="header-wrapper">
    <span id="hint-text">Press 'Enter' &#129047;</span>
    <div id="outer" class="site-title">
        <input type="text" id="hidden-input" />
        <span id="container" class="noselect"><span id="fake-input"></span><span class="fancy-caret">&nbsp;</span></span>
    </div>
      <nav class="site-nav big-banner-nav">
        <div class="trigger">
{{ range sort $.Site.Menus.home }}
<!-- href="{{ .URL }}#animate" -->
<a class="page-link" onClick="animationSequence('{{ .URL }}#animate')">{{ title .Name }}</a>
{{ end }}
        </div>
      </nav>
  </div>
  <div class="hidden" id="command-output-wrapper">
    <div class="titlebar">SarahOS
      <div class="buttons">
        <div class="green">&#9974;</div>
        <div class="red">&#x2715;</div>
      </div>
    </div>
    <pre id="command-output"></pre>
  </div>
</header>
</body>
</html>
