<!DOCTYPE html>
<html lang="en">

    <head>
        {{ $sass := resources.Get "sass/main.scss" }}
        {{ $styles := $sass | resources.ToCSS | resources.Fingerprint }}
        {{ $externals := slice "fs" "path" }}
        {{ $defines := dict "process.env.NODE_ENV" "\"development\"" }}
        {{ $opts := dict "targetPath" "main.js" "externals" $externals "defines" $defines "format" "esm" }}
        {{ $built := resources.Get "js/main.js" | js.Build $opts | resources.Fingerprint }}
        {{ $bashParser := resources.GetRemote "https://raw.githubusercontent.com/cgsdev0/bash-parser/master/compiled.js" | resources.Minify | resources.Fingerprint }}
            <script src="{{ $bashParser.Permalink }}" type="text/javascript"></script>
        <script src="{{ $built.Permalink }}" type="text/javascript" integrity="{{ $built.Data.Integrity }}"></script>
        <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
    </head>

  <body class="landing-page floating">

<header class="site-header big-banner" role="banner">
      <pre class="code-banner" id="banner-snippet"></pre>
      <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', async function() {
          const backgrounds = [
          {{ range $.Site.Data.snippets }}
            {
              rawUrl: "{{ .rawUrl }}",
              niceUrl: "{{ .niceUrl }}",
              description: "{{ .description }}"
            },
              {{ end }}
          ];
          const { rawUrl, niceUrl, description } = backgrounds[Math.floor(Math.random() * backgrounds.length)];
          window.fetch(rawUrl).then(value => value.text().then(content => {
            // Scale animation duration based on document length
            const lineCount = content.split(/\r\n|\r|\n/).length;
            document.documentElement.style.setProperty('--scrollDuration', lineCount + "s");

            // Insert snippet into DOM
            const snippet = document.querySelector('#banner-snippet');
            snippet.innerText = content;

            // Fix horizontal positioning
            document.documentElement.style.setProperty('--fudgeRight', -snippet.offsetHeight * Math.tan(-5 * Math.PI / 180) + "px");

            // Start animation
            snippet.classList.add("banner-scroller");

            // Insert snippet link into the DOM
            const container = document.createElement('span');
            container.classList.add("appearing-link");
            const a = document.createElement('a');
            a.classList.add("page-link");
            a.target = "_blank";
            a.title = description;
            a.href = niceUrl;
            a.appendChild(document.createTextNode("Background Snippet ->"));
            container.appendChild(a);
            document.querySelector('.big-banner').appendChild(container);
          }))
        }, false);


      </script>
  <div class="wrapper" id="header-wrapper">

    <div id="outer" class="site-title" rel="author">
        <input type="text" id="hidden-input" />
        <span id="container" class="noselect"><span id="fake-input"></span><span class="fancy-caret">&nbsp;</span></span>
    </div>

      <nav class="site-nav big-banner-nav">
        <div class="trigger">
            <a class="page-link" href="Example">Example</a>
        </div>
      </nav>
  </div>
  <div class="hidden" id="command-output-wrapper">
    <div class="titlebar">SarahOS
      <div class="buttons">
        <div class="green"></div>
        <div class="yellow"></div>
        <div class="red"></div>
      </div>
    </div>
    <pre id="command-output"></pre>
  </div>
</header>
</body>
</html>
