name: Deploy

on:
  push:
    branches:
      - main  # Set a branch to deploy

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: NPM or Yarn install with caching
        # You may pin to the exact commit or the version.
        # uses: bahmutov/npm-install@44b9e76df0949f3df6616b334af42e055ce24831
        uses: bahmutov/npm-install@v1
        with:
          useLockFile: true
          install-command: npm install
          
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.129.0'
          extended: true

      - name: Build
        run: hugo --minify

      - name: Deploy to GH Pages
        uses: JamesIves/github-pages-deploy-action@v4.2.3
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: public # The folder the action should deploy.
